<div id="imgbillie">
<img src="./../../assets/img/billie.jpg">
<h1> BILLIE EILISH</h1>
</div>


<div id ="home-biografia">
<h2 id="tittle">Billie Eilish</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aspernatur dignissimos corporis enim dolorem molestias eveniet maiores cum nam, labore nemo ipsum sapiente doloribus expedita architecto, pariatur recusandae? Vitae, exercitationem.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aspernatur dignissimos corporis enim dolorem molestias eveniet maiores cum nam, labore nemo ipsum sapiente doloribus expedita architecto, pariatur recusandae? Vitae, exercitationem.</p>
</div>